.header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 407px;
    padding-top: 40px;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-wrap {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 40px;


}

.header-name {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.main {
    background-image: url(./img/Rectangle\ \(1\).jpg);
    height: 1200px;
    background-repeat: no-repeat;

}

.text-wraper{
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 300px;
}
.text {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    
}

h1 {
     color: #FFFFFF;
    width: 829;
    font-weight: 800;
    font-size: 48px;
    line-height: 134%;
    letter-spacing: 0%;
    text-align: center;
    display: flex;
    justify-content: center;
}

button {
    background: #4985FF;
    color: white;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    text-align: center;
    padding-top: 6px;
    display: flex;
    justify-content: center;
    border: none;

}

section.container{
    flex-direction: column;
  display: flex;
  align-items: center;
     justify-content: center;
    height: 40px;
    
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    color: dark;
     display: flex;
     justify-content: center;
     text-align: center;
     

}
.section-text{
color: #999999;
padding-top: 32px;
}
.image-card{
    width: 40px;
    height: 40px;
}
.services {
  text-align: center;
  padding: 60px 20px;
  background: #fff;
  margin-top: -250px;
}

.services h2 {
  font-size: 36px;
  margin-bottom: 15px;
  color: #000000;
  font-weight: 700;
}

.services .subtitle {
  color: #999999;
  max-width: 600px;
  margin: 0 auto 40px;
  font-style: 16px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.card {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  width: 280px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: 0.3s;
}


.card img {
  width: 50px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  color: #666;
  font-size: 14px;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  background: #0066ff;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
}

.btn:hover {
  background: #0050cc;
}